.containform {
    position: relative;

}

.ajustementPetiteForme{
    margin-top: 25%;
}

.ajustementGrandeForme{
    margin-top: 0.2vw;
    margin-left: 0.2vw;
}

.containform2{
    position: relative;
    height: var(--x);
    width: var(--x);
    display: table-cell;
    vertical-align: middle;
    background-color: black;
}
/*ROND*/
.containexte{
    height: var(--y);
    width: var(--y);
    margin: 0 auto;
    position: relative;
    top: calc(var(--x)/8);
}

#cacherond{
    display: none;
}

.rond{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.round{
    border-radius: 5vw; 
}

.cb{
    background-color: white;
}

.cn{
    background-color: black;
}

.formeinte{
    height: 90%;
    width: 90%;
    margin: 0 auto;
}
.formeexte{
    height: 100%;
    width: 100%;
}

.carre{
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.triangle{
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.castriangle{
    margin-top: calc( (var(--y) - var(--z)) / 5);
}

.caspenta{
    margin-top: calc( (var(--y) - var(--z)) / 10);
}

.losange{
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.croix{
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.croixinte{
    -webkit-clip-path: polygon(26% 23%, 22% 27%, 45% 50%, 22% 74%, 27% 78%, 50% 55%, 74% 78%, 78% 73%, 55% 50%, 78% 27%, 73% 23%, 50% 46%); 
    clip-path: polygon(26% 23%, 22% 27%, 45% 50%, 22% 74%, 27% 78%, 50% 55%, 74% 78%, 78% 73%, 55% 50%, 78% 27%, 73% 23%, 50% 46%);

}

.penta{
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.hexa{
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hocto{
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

