body{
    background-color: red;
}
.containform {
	position: relative;
    height: var(--x);
    width: var(--x);
    display: table-cell;
    vertical-align: middle;
}
.containform2{
    position: relative;
    height: var(--x);
    width: var(--x);
    display: table-cell;
    vertical-align: middle;
    background-color: var(--couleur);
}

.anneau {
	position: relative;
	left: calc((var(--x) - var(--y)) / 2);
    background-color: var(--couleur);
    border-radius: var(--y);
    height: var(--y);
    width: var(--y);
    display: table-cell;
    vertical-align: middle;
}
.anneau2 {
	position: relative;
    background-color: white;
    border-radius: var(--y);
    height: var(--y);
    width: var(--y);
    left : calc((var(--x) - var(--y))/2);
    display: table-cell;
    vertical-align: middle;
}
.anneau3 {
	position: relative;
    background-color: var(--couleur);
    border-radius: var(--y);
    height: var(--y);
    width: var(--y);
    margin-left: auto;
    margin-right: auto;
}
.rondinterieur {
    background-color: white;
    height: var(--z);
    width: var(--z);
    display: table;
    margin: 0 auto;
    border-radius: var(--z);
}
.rond {
    display: table;
    margin: 0 auto;
    background-color: var(--couleur);
    height: var(--z);
    width: var(--z);
    border-radius: var(--z);
}
.rond2 {
	display: table;
    margin: 0 auto;
    background-color: white;
    height: var(--z);
    width: var(--z);
    border-radius: var(--z);
}
.rond3 {
	position: relative;
	top : calc((var(--y) - var(--z))/ 2);
	left : calc((var(--y) - var(--z))/2);
	display: table-cell;
    vertical-align: middle;
    background-color: white;
    height: var(--z);
    width: var(--z);
    border-radius: var(--z);
}
.rond4 {
	display: table;
    margin: 0 auto;
    background-color: var(--couleur);
    height: var(--z);
    width: var(--z);
    border-radius: var(--z);
}

/*Carré*/
.carre {
    position: relative;
    background-color: var(--couleur);
    height: var(--y);
    width: var(--y);
    margin-left: auto;
    margin-right: auto;
}
.carreinterieur {
    position: relative;
	top : calc((var(--y) - var(--z))/2);
	left : calc((var(--y) - var(--z))/2);
	display: table-cell;
    vertical-align: middle;
    background-color: white;
    height: var(--z);
    width: var(--z);
}
.carre2 {
    background-color: var(--couleur);
    height: var(--z);
    width: var(--z);
    display: table;
    margin: 0 auto;
}
.carreinterieur2 {
    background-color: white;
    height: var(--z);
    width: var(--z);
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.carreinterieur3 {
	position: relative;
    background-color: white;
    height: var(--y);
    width: var(--y);
    left : calc((var(--x) - var(--y))/2);
    display: table-cell;
    vertical-align: middle;
}
.carrev2 {
	position: relative;
    background-color: var(--couleur);
    height: var(--y);
    width: var(--y);
    margin-left: auto;
    margin-right: auto;
}
.carreinterieur4 {
	position : relative;
	top : calc((var(--y) - var(--z)) / 2);
	left : calc((var(--y) - var(--z)) / 2);
    background-color: white;
    height: var(--z);
    width: var(--z);
    display: table-cell;
    vertical-align: middle;
}
.carre3 {
    background-color: var(--couleur);
    height: var(--z);
    width: var(--z);
    display: table;
    margin: 0 auto;
}

/*triangle*/
.triangle {
    display: table;
    margin: 0 auto;
    border-left: calc(var(--y) /2) solid transparent;
    border-right: calc(var(--y) /2) solid transparent;
    border-bottom: var(--y) solid var(--couleur);
}

.trianglerinterieur {
	position: absolute;
	bottom: calc(((var(--x) - var(--y))/1.5) + ((var(--y) - var(--z))/3));
	left : calc(((var(--x) - var(--z))/2) + (var(--z)) / 10);
	border-left: calc(var(--z) /2.5) solid transparent;
    border-right: calc(var(--z) /2.5) solid transparent;
    border-bottom: calc(var(--z) / 1.25) solid white;
}

.trianglerinterieur2 {
	position: absolute;
	bottom: calc((var(--x) - var(--z))/2);
	left : calc((var(--x) - var(--z))/2);
	border-left: calc(var(--z) /2) solid transparent;
    border-right: calc(var(--z) /2) solid transparent;
    border-bottom: var(--z) solid white;
}

.ptriangle {
	position: absolute;
	bottom: calc(((var(--x) - var(--y))/1.5) + ((var(--y) - var(--z))/3));
	left : calc((var(--x) - var(--z))/2);
	border-left: calc(var(--z) /2) solid transparent;
    border-right: calc(var(--z) /2) solid transparent;
    border-bottom: var(--z) solid var(--couleur);
}

.triangle2 {
    display: table;
    margin: 0 auto;
    border-left: calc(var(--y) /2) solid transparent;
    border-right: calc(var(--y) /2) solid transparent;
    border-bottom: var(--y) solid white;
}

.croix{
	position: absolute;
	left: calc((var(--x) - var(--y)) / 2);
    bottom: calc(  ((var(--x) - var(--y))/2) + ((var(--y)) / 4)  );
}

.croixinté{
    z-index: 2;
    position: absolute;
    left: calc((var(--x) - var(--z))/2);
    bottom: calc(  ((var(--x) - var(--z))/2) + ((var(--z)) / 2.33)  );
}
.croixgauche{
    position: relative;
    background-color: var(--couleur);
    height: calc(var(--y)/4);
    width: var(--y);
    top : calc(var(--y) / 8);
    transform: rotate(45deg);
}
.croixdroite{
    position: relative;
    background-color: var(--couleur);
    height: calc(var(--y)/4);
    width: var(--y);
    bottom : calc(var(--y) / 8);
    transform: rotate(-45deg);
}

.croixgauche2{
    position: relative;
    background-color: white;
    height: calc(var(--y)/4);
    width: var(--y);
    top : calc(var(--y) / 8);
    transform: rotate(45deg);
}

.croixdroite2{
    position: relative;
    background-color: white;
    height: calc(var(--y)/4);
    width: var(--y);
    bottom : calc(var(--y) / 8);
    transform: rotate(-45deg);
}

.croixgaucheinte{
    position: relative;
    background-color: white;
    height: calc(var(--z)/16);
    width: calc(var(--z));
    top : calc(var(--z) / 32);
    transform: rotate(45deg);
}
.croixdroiteinte{
    position: relative;
    background-color: white;
    height: calc(var(--z)/16);
    width: calc(var(--z));
    bottom : calc(var(--z) / 32);
    transform: rotate(-45deg);
}
.croixgaucheinte2{
    position: relative;
    background-color: var(--couleur);
    height: calc(var(--z)/16);
    width: calc(var(--z));
    top : calc(var(--z) / 32);
    transform: rotate(45deg);
}
.croixdroiteinte2{
    position: relative;
    background-color: var(--couleur);
    height: calc(var(--z)/16);
    width: calc(var(--z));
    bottom : calc(var(--z) / 32);
    transform: rotate(-45deg);
}

.losange{
    width: var(--y);
    height: var(--y);
    display: table;
    margin: 0 auto;
    background: var(--couleur);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.losange2{
    width: var(--y);
    height: var(--y);
    display: table;
    margin: 0 auto;
    background: white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.losangeinte{
    position: absolute;
    z-index: 2;
    width: var(--z);
    height: var(--z);
    bottom : calc( ((var(--x) - var(--z))/2));
    left : calc((var(--x) - var(--z))/2);
    background: white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.losangeinte2{
    width: var(--z);
    height: var(--z);
    display: table;
    margin: 0 auto;
    background: var(--couleur);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}








/*Figures simples :( */
.trapeze{
    width: var(--y);
    height: var(--y);
    background: var(--couleur);
    position: relative;
    left: calc((var(--x) - var(--y)) / 2);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.trapeze2{
    width: var(--y);
    height: var(--y);
    background: white;
    position: relative;
    left: calc((var(--x) - var(--y)) / 2);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.trapezeinte{
    width: var(--z);
    height: var(--z);
    background: white;
    position: absolute;
    z-index: 2;
    bottom : calc( ((var(--x) - var(--z))/2.1));
    left: calc((var(--x) - var(--z))/2);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.trapezeinte2{
    width: var(--z);
    height: var(--z);
    background: var(--couleur);
    position: absolute;
    z-index: 2;
    bottom : calc( ((var(--x) - var(--z))/2.1));
    left: calc((var(--x) - var(--z))/2);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.octogon{
    width: var(--y);
    height: var(--y);
    background: var(--couleur);
    position: relative;
    left: calc((var(--x) - var(--y)) / 2);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.octogon2{
    width: var(--y);
    height: var(--y);
    background: white;
    position: relative;
    left: calc((var(--x) - var(--y)) / 2);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.octogoninte{
    width: var(--z);
    height: var(--z);
    background: white;
    position: absolute;
    z-index: 2;
    bottom : calc( ((var(--x) - var(--z))/2.1));
    left: calc((var(--x) - var(--z))/2);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.octogoninte2{
    width: var(--z);
    height: var(--z);
    background: var(--couleur);
    position: absolute;
    z-index: 2;
    bottom : calc( ((var(--x) - var(--z))/2.1));
    left: calc((var(--x) - var(--z))/2);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.hexa{
    width: var(--y);
    height: var(--y);
    display: table;
    margin: 0 auto;
    background: var(--couleur);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexa2{
    width: var(--y);
    height: var(--y);
    display: table;
    margin: 0 auto;
    background: white;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexainte{
    position: absolute;
    z-index: 2;
    width: var(--z);
    height: var(--z);
    bottom : calc( ((var(--x) - var(--z))/2));
    left : calc((var(--x) - var(--z))/2);
    background: white;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexainte2{
    display: table;
    margin: 0 auto;
    width: var(--z);
    height: var(--z);
    background: var(--couleur);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
