/*Ecran*/
@media screen and (min-width: 960px) {
    

    /*PARTIE FORMES*/


    /*===========================================*/




    /*Externe*/

    .buttonretour {
        position: relative;
        height: 4vh;
        width: 4vh;
        border-radius: 55vw;
        background-color: var(--lightsedonca);
        z-index: 5;
        margin-left: 2vw;
        top: 1.75vw;
    }

    .flex-item {
        background: var(--lightsedonca);
        width: 10vw;
        height: 13vw;
        border-radius: 0.75vw;
        padding-right: 0.15vw;
        padding-left: 0.15vw;
        padding-bottom: 0.25vw;
        list-style: none;
        display: flex;
        margin-right: 0.4vw;
        margin-left: 0.4vw;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }

    .item-form {
        width: 3vw;
        padding-left: 0.1vw;
        margin-top: 0.25vw;
        height: 3vw;
        border-radius: 10px;
        background-color: var(--lighttercia);
    }

    .containcards {
        height: 87vh;
        overflow-x: auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 3vw;
        padding-top: 2.5vw;
    }

    .logop2 img {
        width: 20vh;
        padding-top: 1vh;
        position: relative;
        left: 43.5vw;
    }


    .txt {
        position: absolute;
        font-family: Arial Black;
        color: var(--lightprima);
        font-size: 1.5vw;
        left: 0.4vw;
        top: -1.6vh;
    }

    .logo img {
        position: absolute;
        width: 12vw;
        left: 44vw;
        top: 13%;
        z-index: 11;
    }

    .mounts img {
        position: absolute;
        height: 100%;
        width: 100%;
        pointer-events: none;
        margin-left: -10px;
    }

    #contourbuttonvalider {
        position: absolute;
        border-radius: 45px;
        left: 9.2vw;
        top: 5.5vw;
        height: 4vw;
        width: 12vw;
        background-color: var(--lightsedonca);
        z-index: 15;
    }

    .bouttonvalider {
        position: absolute;
        height: 3.4vw;
        width: 11.4vw;
        top: 0.3vw;
        left: 0.3vw;
        border-radius: 30px;
        background-color: #B130DE;
    }


    .bouttonvalider2 {
        position: absolute;
        height: 3.4vw;
        width: 11.4vw;
        top: 0.3vw;
        left: 0.3vw;
        border-radius: 30px;
        background-color: #00CC66;
    }

    #textjouer {
        font-family: Montserrat, impact, Arial Black;
        position: absolute;
        font-size: 2.5vw;
        margin-top: 0.2vw;
        margin-left: 2.7vw;
        color: var(--lightsedonca);
        text-align:center;
    }
}
