/*Ecran*/
@media screen and (min-width: 960px) {
    /**/
    .xcroixgauche{
        position: relative;
        background-color: black;
        height: calc(var(--y)/4);
        width: var(--y);
        top : calc(var(--y) / 8);
        transform: rotate(45deg);
    }
    .xcroixdroite{
        position: relative;
        background-color: black;
        height: calc(var(--y)/4);
        width: var(--y);
        bottom : calc(var(--y) / 8);
        transform: rotate(-45deg);
    }
    .xcroixgaucheinte{
        position: relative;
        background-color: white;
        height: calc(var(--z)/16);
        width: calc(var(--z));
        top : calc(var(--z) / 32);
        transform: rotate(45deg);
    }
    .xcroixdroiteinte{
        position: relative;
        background-color: white;
        height: calc(var(--z)/16);
        width: calc(var(--z));
        bottom : calc(var(--z) / 32);
        transform: rotate(-45deg);
    }
    .xanneau {
        position: relative;
        left: calc((var(--x) - var(--y)) / 2);
        background-color: black;
        border-radius: var(--y);
        height: var(--y);
        width: var(--y);
        display: table-cell;
        vertical-align: middle;
    }
    .xrondinterieur {
        background-color: white;
        height: var(--z);
        width: var(--z);
        display: table;
        margin: 0 auto;
        border-radius: var(--z);
    }
    .xcarre {
        position: relative;
        background-color: black;
        height: var(--y);
        width: var(--y);
        margin-left: auto;
        margin-right: auto;
    }
    .xcarreinterieur {
        position: relative;
        top : calc((var(--y) - var(--z))/2);
        left : calc((var(--y) - var(--z))/2);
        display: table-cell;
        vertical-align: middle;
        background-color: white;
        height: var(--z);
        width: var(--z);
    }
    .xtriangle {
        display: table;
        margin: 0 auto;
        border-left: calc(var(--y) /2) solid transparent;
        border-right: calc(var(--y) /2) solid transparent;
        border-bottom: var(--y) solid black;
    }
    .xtrianglerinterieur {
        position: absolute;
        bottom: calc((var(--x) - var(--z))/2.2);
        left : calc((var(--x) - var(--z))/2);
        border-left: calc(var(--z) /2) solid transparent;
        border-right: calc(var(--z) /2) solid transparent;
        border-bottom: var(--z) solid white;
    }
    .xlosange{
        width: var(--y);
        height: var(--y);
        display: table;
        margin: 0 auto;
        background: black;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    .xlosangeinte{
        position: absolute;
        z-index: 2;
        width: var(--z);
        height: var(--z);
        bottom : calc( ((var(--x) - var(--z))/2));
        left : calc((var(--x) - var(--z))/2);
        background: white;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    .xtrapeze{
        width: var(--y);
        height: var(--y);
        background: black;
        position: relative;
        left: calc((var(--x) - var(--y)) / 2);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
    .xtrapezeinte{
        width: var(--z);
        height: var(--z);
        background: white;
        position: absolute;
        z-index: 2;
        bottom : calc( ((var(--x) - var(--z))/2));
        left: calc((var(--x) - var(--z))/2);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
    .xhexa{
        width: var(--y);
        height: var(--y);
        display: table;
        margin: 0 auto;
        background: black;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    .xhexainte{
        position: absolute;
        z-index: 2;
        width: var(--z);
        height: var(--z);
        bottom : calc( ((var(--x) - var(--z))/2));
        left : calc((var(--x) - var(--z))/2);
        background: white;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    .xoctogon{
        width: var(--y);
        height: var(--y);
        background: black;
        position: relative;
        left: calc((var(--x) - var(--y)) / 2);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    .xoctogoninte{
        width: var(--z);
        height: var(--z);
        background: white;
        position: absolute;
        z-index: 2;
        bottom : calc( ((var(--x) - var(--z))/2));
        left: calc((var(--x) - var(--z))/2);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }


    /*PARTIE FORMES*/


    .containform {
        position: relative;
        height: var(--x);
        width: var(--x);
        display: table-cell;
        vertical-align: middle;
    }
    /*ROND*/
    .anneau {
        position: relative;
        background-color: var(--colorbase);
        border-radius: var(--y);
        height: var(--y);
        width: var(--y);
        display: table-cell;
        vertical-align: middle;
    }
    .anneau2 {
        position: relative;
        background-color: white;
        border-radius: var(--y);
        height: var(--y);
        width: var(--y);
        left : calc((var(--x) - var(--y))/2);
        display: table-cell;
        vertical-align: middle;
    }
    .anneau3 {
        position: relative;
        background-color: var(--colorbase);
        border-radius: var(--y);
        height: var(--y);
        width: var(--y);
        margin-left: auto;
        margin-right: auto;
    }
    .rondinterieur {
        background-color: white;
        height: var(--z);
        width: var(--z);
        display: table;
        margin: 0 auto;
        border-radius: var(--z);
    }
    .rond {
        display: table;
        margin: 0 auto;
        background-color: var(--colorbase);
        height: var(--z);
        width: var(--z);
        border-radius: var(--z);
    }
    .rond2 {
        display: table;
        margin: 0 auto;
        background-color: white;
        height: var(--z);
        width: var(--z);
        border-radius: var(--z);
    }
    .rond3 {
        position: relative;
        top : calc((var(--y) - var(--z))/ 2);
        left : calc((var(--y) - var(--z))/2);
        display: table-cell;
        vertical-align: middle;
        background-color: white;
        height: var(--z);
        width: var(--z);
        border-radius: var(--z);
    }
    .rond4 {
        display: table;
        margin: 0 auto;
        background-color: var(--colorbase);
        height: var(--z);
        width: var(--z);
        border-radius: var(--z);
    }

    /* PARTIE CARRE */
    .carre {
        position: relative;
        background-color: blacke);
        height: var(--y);
        width: var(--y);
        margin-left: auto;
        margin-right: auto;
    }

    .carreinterieur {
        position: relative;
        top : calc((var(--y) - var(--z))/2);
        left : calc((var(--y) - var(--z))/2);
        display: table-cell;
        vertical-align: middle;
        background-color: white;
        height: var(--z);
        width: var(--z);
    }
    .carre2 {
        background-color: blacke);
        height: var(--z);
        width: var(--z);
        display: table;
        margin: 0 auto;
    }
    .carreinterieur2 {
        background-color: white;
        height: var(--z);
        width: var(--z);
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .carreinterieur3 {
        position: relative;
        background-color: white;
        height: var(--y);
        width: var(--y);
        left : calc((var(--x) - var(--y))/2);
        display: table-cell;
        vertical-align: middle;
    }
    .carrev2 {
        position: relative;
        background-color: blacke);
        height: var(--y);
        width: var(--y);
        margin-left: auto;
        margin-right: auto;
    }
    .carreinterieur4 {
        position : relative;
        top : calc((var(--y) - var(--z)) / 2);
        left : calc((var(--y) - var(--z)) / 2);
        background-color: white;
        height: var(--z);
        width: var(--z);
        display: table-cell;
        vertical-align: middle;
    }
    .carre3 {
        background-color: blacke);
        height: var(--z);
        width: var(--z);
        display: table;
        margin: 0 auto;
    }
    /*A SUPPRIMER 
    ===========================================
    */
    .pcarre {
        background-color: blacke);
        height: var(--z);
        width: var(--z);
        display: table;
        margin: 0 auto;
    }
    /*========================================*/

    /* PARTIE TRIANGLE */
    .triangle {
        display: table;
        margin: 0 auto;
        border-left: calc(var(--y) /2) solid transparent;
        border-right: calc(var(--y) /2) solid transparent;
        border-bottom: var(--y) solid var(--colortwo);
    }
    .trianglerinterieur {
        position: absolute;
        bottom: calc((var(--x) - var(--z))/2.2);
        left : calc((var(--x) - var(--z))/2);
        border-left: calc(var(--z) /2) solid transparent;
        border-right: calc(var(--z) /2) solid transparent;
        border-bottom: var(--z) solid white;
    }
    .trianglerinterieur2 {
        position: absolute;
        bottom: calc((var(--x) - var(--z))/2);
        left : calc((var(--x) - var(--z))/2);
        border-left: calc(var(--z) /2) solid transparent;
        border-right: calc(var(--z) /2) solid transparent;
        border-bottom: var(--z) solid white;
    }
    .ptriangle {
        position: absolute;
        bottom: calc(((var(--x) - var(--y))/1.5) + ((var(--y) - var(--z))/3));
        left : calc((var(--x) - var(--z))/2);
        border-left: calc(var(--z) /2) solid transparent;
        border-right: calc(var(--z) /2) solid transparent;
        border-bottom: var(--z) solid var(--colortwo);
    }
    .triangle2 {
        display: table;
        margin: 0 auto;
        border-left: calc(var(--y) /2) solid transparent;
        border-right: calc(var(--y) /2) solid transparent;
        border-bottom: var(--y) solid white;
    }

    /* Croix */
    .croix{
        position: absolute;
        left: calc((var(--x) - var(--y)) / 2);
        bottom: calc(  ((var(--x) - var(--y))/2) + ((var(--y)) / 4)  );
    }
    .croixinté{
        z-index: 2;
        position: absolute;
        left: calc((var(--x) - var(--z))/2);
        bottom: calc(  ((var(--x) - var(--z))/2) + ((var(--z)) / 2.33)  );
    }
    .croixgauche{
        position: relative;
        background-color: var(--couleur);
        height: calc(var(--y)/4);
        width: var(--y);
        top : calc(var(--y) / 8);
        transform: rotate(45deg);
    }
    .croixdroite{
        position: relative;
        background-color: var(--couleur);
        height: calc(var(--y)/4);
        width: var(--y);
        bottom : calc(var(--y) / 8);
        transform: rotate(-45deg);
    }
    .croixgauche2{
        position: relative;
        background-color: white;
        height: calc(var(--y)/4);
        width: var(--y);
        top : calc(var(--y) / 8);
        transform: rotate(45deg);
    }

    .croixdroite2{
        position: relative;
        background-color: white;
        height: calc(var(--y)/4);
        width: var(--y);
        bottom : calc(var(--y) / 8);
        transform: rotate(-45deg);
    }

    .croixgaucheinte{
        position: relative;
        background-color: white;
        height: calc(var(--z)/16);
        width: calc(var(--z));
        top : calc(var(--z) / 32);
        transform: rotate(45deg);
    }
    .croixdroiteinte{
        position: relative;
        background-color: white;
        height: calc(var(--z)/16);
        width: calc(var(--z));
        bottom : calc(var(--z) / 32);
        transform: rotate(-45deg);
    }
    .croixgaucheinte2{
        position: relative;
        background-color: var(--couleur);
        height: calc(var(--z)/16);
        width: calc(var(--z));
        top : calc(var(--z) / 32);
        transform: rotate(45deg);
    }
    .croixdroiteinte2{
        position: relative;
        background-color: var(--couleur);
        height: calc(var(--z)/16);
        width: calc(var(--z));
        bottom : calc(var(--z) / 32);
        transform: rotate(-45deg);
    }
    /*LOSANGE*/
    .losange{
        width: var(--y);
        height: var(--y);
        display: table;
        margin: 0 auto;
        background: var(--couleur);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    .losange2{
        width: var(--y);
        height: var(--y);
        display: table;
        margin: 0 auto;
        background: white;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    .losangeinte{
        position: absolute;
        z-index: 2;
        width: var(--z);
        height: var(--z);
        bottom : calc( ((var(--x) - var(--z))/2));
        left : calc((var(--x) - var(--z))/2);
        background: white;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    .losangeinte2{
        width: var(--z);
        height: var(--z);
        display: table;
        margin: 0 auto;
        background: var(--couleur);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    /*PENTA*/
    .trapeze{
        width: var(--y);
        height: var(--y);
        background: var(--couleur);
        position: relative;
        left: calc((var(--x) - var(--y)) / 2);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
    .trapeze2{
        width: var(--y);
        height: var(--y);
        background: white;
        position: relative;
        left: calc((var(--x) - var(--y)) / 2);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
    .trapezeinte{
        width: var(--z);
        height: var(--z);
        background: white;
        position: absolute;
        z-index: 2;
        bottom : calc( ((var(--x) - var(--z))/2));
        left: calc((var(--x) - var(--z))/2);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
    .trapezeinte2{
        width: var(--z);
        height: var(--z);
        background: var(--couleur);
        position: absolute;
        z-index: 2;
        bottom : calc( ((var(--x) - var(--z))/2));
        left: calc((var(--x) - var(--z))/2);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
    .octogon{
        width: var(--y);
        height: var(--y);
        background: var(--couleur);
        position: relative;
        left: calc((var(--x) - var(--y)) / 2);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    .octogon2{
        width: var(--y);
        height: var(--y);
        background: white;
        position: relative;
        left: calc((var(--x) - var(--y)) / 2);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    .octogoninte{
        width: var(--z);
        height: var(--z);
        background: white;
        position: absolute;
        z-index: 2;
        bottom : calc( ((var(--x) - var(--z))/2));
        left: calc((var(--x) - var(--z))/2);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    .octogoninte2{
        width: var(--z);
        height: var(--z);
        background: var(--couleur);
        position: absolute;
        z-index: 2;
        bottom : calc( ((var(--x) - var(--z))/2));
        left: calc((var(--x) - var(--z))/2);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    /*HEXAGONE*/
    .hexa{
        width: var(--y);
        height: var(--y);
        display: table;
        margin: 0 auto;
        background: var(--couleur);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    .hexa2{
        width: var(--y);
        height: var(--y);
        display: table;
        margin: 0 auto;
        background: white;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    .hexainte{
        position: absolute;
        z-index: 2;
        width: var(--z);
        height: var(--z);
        bottom : calc( ((var(--x) - var(--z))/2));
        left : calc((var(--x) - var(--z))/2);
        background: white;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    .hexainte2{
        display: table;
        margin: 0 auto;
        width: var(--z);
        height: var(--z);
        background: var(--couleur);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    









    /*===========================================*/




    /*Externe*/

    .buttonretour {
        position: relative;
        height: 4vh;
        width: 4vh;
        border-radius: 55vw;
        background-color: var(--lightsedonca);
        z-index: 5;
        margin-left: 2vw;
        top: 1.75vw;
    }

    .flex-item {
        background: var(--lightsedonca);
        width: 10vw;
        height: 13vw;
        border-radius: 0.75vw;
        padding-right: 0.15vw;
        padding-left: 0.15vw;
        padding-bottom: 0.25vw;
        list-style: none;
        display: flex;
        margin-right: 0.4vw;
        margin-left: 0.4vw;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }

    .item-form {
        width: 3vw;
        padding-left: 0.1vw;
        margin-top: 0.25vw;
        height: 3vw;
        border-radius: 10px;
        background-color: var(--lighttercia);
    }

    .containcards {
        height: 87vh;
        overflow-x: auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 3vw;
        padding-top: 2.5vw;
    }

    .logop2 img {
        width: 20vh;
        padding-top: 1vh;
        position: relative;
        left: 43.5vw;
    }


    .txt {
        position: absolute;
        font-family: Arial Black;
        color: var(--lightprima);
        font-size: 1.5vw;
        left: 0.4vw;
        top: -1.6vh;
    }

    .logo img {
        position: absolute;
        width: 12vw;
        left: 44vw;
        top: 13%;
        z-index: 11;
    }

    .mounts img {
        position: absolute;
        height: 100%;
        width: 100%;
        pointer-events: none;
        margin-left: -10px;
    }

    #contourbuttonvalider {
        position: absolute;
        border-radius: 45px;
        left: 9.2vw;
        top: 5.5vw;
        height: 4vw;
        width: 12vw;
        background-color: var(--lightsedonca);
        z-index: 15;
    }

    .bouttonvalider {
        position: absolute;
        height: 3.4vw;
        width: 11.4vw;
        top: 0.3vw;
        left: 0.3vw;
        border-radius: 30px;
        background-color: #B130DE;
    }


    .bouttonvalider2 {
        position: absolute;
        height: 3.4vw;
        width: 11.4vw;
        top: 0.3vw;
        left: 0.3vw;
        border-radius: 30px;
        background-color: #00CC66;
    }

    #textjouer {
        font-family: Montserrat, impact, Arial Black;
        position: absolute;
        font-size: 2.5vw;
        margin-top: 0.2vw;
        margin-left: 2.7vw;
        color: var(--lightsedonca);
        text-align:center;
    }
}
