/*DemTéléphone 1i Ecran*/
@media screen and (min-width: 0px) and (max-width: 992px) {

    :root{
        --taille : 14vh;
    }

    .containform3 {
        position: relative;
        height: calc(1.25*var(--x));
        width: calc(2*var(--x));
        display: table-cell;
        vertical-align: middle;
        left: -2vw;
    }

    .containinte{
        /*PROBLEME SIZE*/
        top: calc(1.5*((var(--y) - var(--z)) / 2));
        left: calc(1.5*((var(--y) - var(--z)) / 2));
        height: calc(1.5*var(--z));
        width: calc(1.5*var(--z));
        z-index: 2;
        position: absolute;
    }

    .cache{
        top: calc(0.91*((var(--x) - var(--y)) / 2.8));
        left: calc(4.55*((var(--x) - var(--y)) / 2.2));
        height: calc(1.5*var(--y)*1.05);
        width: calc(1.5*var(--y)*1.05);
        z-index: 2;
        position: absolute;
        z-index: 15;
    }

    #formSize{
        margin : 0 auto;
        width: 100%;
        height: 3vw;
        position: relative;
        top: 3vw;
    }

    .slider-container .bar .fill {
        display: block;
        width: 50%;
        height: 100%;
        background-color: #6200ee;
    }

    .slider-container .slider {
        position: relative;
        z-index: 2;
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        outline: none;
        top: -0.25vw;
        background-color: transparent;
    }
    .slider.container{
        position: relative;
    }
    .slider-container .bar {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background-color: #c6aee7;
        overflow: hidden;
    }
    /*Moz*/
    .slider-container .slider::-moz-range-thumb  {
        -webkit-appearance: none;
        width: 2vw;
        height: 2vw;
        background-color: #6200ee;
        border-radius: 1vw;
        cursor: pointer;
        outline: none;
        box-shadow: 0 0 0 0 rgba(98, 0 ,238, .1);
        transition: .3s ease-in-out;
    }

    .slider-container .slider::-moz-range-thumb:hover {
        box-shadow: 0 0 0 10px rgba(98,0,238,.1);
    }
    .slider-container .slider:active::-moz-range-thumb {
        box-shadow: 0 0 0 20px rgba(98,0,238,.2);
    }

    .logop2 img {
        width: 20vh;
        padding-top: 1vh;
        position: relative;
    }

    .txt {
        position: absolute;
        font-family: Arial Black;
        color: var(--lightprima);
        font-size: 5.5vw;
        left: 2.25vw;
        top: -1vh;
    }

    .logo img { 
        position: absolute;
        width: 45vw;
        left: 28vw;
        top: 13%;
        z-index: 11;
    }

    .mounts img {
        position: absolute;
        height: 100%;
        width: 100%;
        pointer-events: none;
        margin-left: -1vw;
        margin-top: -1vw;
        object-fit: cover;
    }

    #contourbuttonvalider {
        position: absolute;
        border-radius: 45px;
        left: -10vw;
        top: 5.5vw;
        height: 15vw;
        width: 50vw;
        background-color: var(--lightsedonca);
        z-index: 15;
    }

    .bouttonvalider {
        position: absolute;
        height: 13vw;
        width: 47vw;
        top: 1.1vw;
        left: 1.5vw;
        border-radius: 30px;
        background-color: #B130DE;
    }

    .bouttonvalider2 {
        position: absolute;
        height: 6.8vw;
        width: 22.8vw;
        top: 1.1vw;
        left: 1.1vw;
        border-radius: 30px;
        background-color: #00CC66;
    }

    #textjouer {
        font-family: Montserrat, impact, Arial Black;
        position: absolute;
        font-size: 10vw;
        margin-top: 0.2vw;
        width: inherit;
        text-align: center;
        color: var(--lightsedonca);
    }

    #choosemode {
        height: 7vw;
        width: 50vw;
        position: absolute;
        left: 25vw;
        top: 50vh;
        z-index: 15;
    }

    #choosedimension {
        height: 7vw;
        width: 50vw;
        position: absolute;
        left: 25vw;
        top: 60vh;
        z-index: 15;
    }

    #conteneurmode{
        width: 80%;
        height: 80%;
        left : 10%;
        top : 45%;
        position: absolute;
        background-color: var(--lightsedonca);
        border-radius: 5vw;
    }

    #triangleprec{
        width: 0;
        height: 0;
        margin: 0.25vw auto 0 auto;
        border-top: 2vw solid transparent;
        border-right: 4vw solid grey;
        border-bottom: 2vw solid transparent;
        margin-top: 0.75vw;
    }

    #trianglesuiv{
        width: 0;
        height: 0;
        margin: 0.25vw auto 0 auto;
        border-top: 2vw solid transparent;
        border-left: 4vw solid grey;
        border-bottom: 2vw solid transparent;
        margin-top: 0.75vw;
    }

    #textmode {
        font-family: Lucida Console, Arial Black, Arial;
        font-size: 3vw;
        color: #707070;
        text-align:center;
        margin: 5% auto 0 auto;
    }

    #textdimension {
        font-family: Lucida Console, Arial Black, Arial;
        font-size: 3vw;
        color: #707070;
        text-align:center;
        margin: 5% auto 0 auto;
    }

    .logoboutton{
        font-size: 2vw;    
        color: var(--lightprima);
        margin: 1vw; 
    }

    /*Externe*/
    .bouttonMenuHaut{
        height: 4vw;
        width: 4vw;
        background-color: var(--lightsedonca);
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 2.5vw;
        position: relative;
        display: block;
    }


    .divmenu {
        width: 25vw;
        height: inherit;
        margin-right: 1vw;
    }


    #affPoints {
        text-align: center;
        font-family: Montserrat, impact, Arial Black;
        font-size: 2vw;
        margin-top: 3.5vw;
        color: var(--lightsedonca);
    }

    .containcards {
        overflow-x: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 2vw;
        justify-content: center;
        width: 70vh;
        margin: 0 auto;
        grid-row-gap: 0vw;
        column-gap: 2vw;
    }

    .flex-item {
        flex-grow: 1;
        background: var(--lightsedonca);
        width: var(--taille);
        border-radius: 0.75vw;
        padding-right: 0.15vw;
        padding-left: 0.15vw;
        padding-bottom: 0.25vw;
        list-style: none;
        display: flex;
        margin-right: 0.4vw;
        margin-left: 0.4vw;
        margin-bottom: 1vw;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }

    .item-form {
        width: 4vh;
        height: 4vh;
        padding-left: 0.1vw;
        margin-top: 0.25vw;        
        border-radius: 10px;
        background-color: var(--lighttercia);
    }

}
